@media screen and (min-width: 320px){


     *{ margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.r121 img{
    width: 66px;
    height: 66px;
    position: relative;
    bottom: 1090px;
    margin-left: 300px;
}

.sua{
    display: flex;
    justify-content: space-between;
}

.bhd img{
    position: relative;
    top: 200px;
    right: 730px;
    width: 142px;
    height: 128px;
}
.un1 img{
    position: relative;
    top: 200px;
    right: 980px;
    width: 142px;
    height: 128px;

}
.jusq{
    display: flex;
    justify-content: space-between;
}  

.vws3 img{
    position: relative;
    bottom: 240px;
    width: 171px;
    height: 144px;
}
.abok img{
    position: relative;
    bottom: 240px;
    right: 960px;
    width: 171px;
    height: 144px;
}
.stn img{
    position: relative;
    bottom: 230px;
    width: 64px;
    height: 64px;
    left: 60px;
}
.stn h4{
    position: relative;
    bottom: 276px;
    color: white;
    left: 160px;
}
.stn p{
    position: relative;
    bottom: 276px;
    color: white;
    left: 160px;

}
.nnb{
    display: flex;
    /* justify-content: space-between; */
}.drai img{
    width: 62px;
    height: 62px;
    position: relative;
    bottom: 240px;
}
.hun img{
    width: 59px;
    height: 71px;
    position: relative;
    bottom: 240px;
    left: 40px;
}
.lins img{
    width: 52px;
    height: 51px;
    position: relative;
    bottom: 230px;
    left: 100px;
}
.hom img{
    width: 44px;
    height: 43px;
    position: relative;
    bottom: 230px;
    left: 180px;
}























































}