@media screen and (min-width: 320px) {

    *{ margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(92, 221, 92);
    width: 480px;
    height: 966px;
}

.pay1 img{
    width: 404px;
    height: 155px;
     position: relative;
    left: 20px;
}
.pay1 h2{
    position: relative;
    bottom: 100px;
    left: 140px;
}
.pay2 img{
    width: 380px;
    height: 139px;
     position: relative;
    left: 20px;
}
.sdg{
    position: relative;
    bottom: 130px;
    left:  30px;
}
.zxcv{
    position: relative;
    bottom: 120px;
    left:  30px;
}
.vcn{
    position: relative;
    bottom: 100px;
    left:  30px;
}
.gfdj{
    position: relative;
    bottom: 90px;
    left:  30px;
}

.pay12{
    position: relative;
    bottom: 195px;
    left:  280px;
}

.nmxz{
    position: relative;
    bottom: 185px;
    left:  280px;
}
.wqlq{
    position: relative;
    bottom: 170px;
    left:  280px;
}
.wsak{
    position: relative;
    bottom: 160px;
    left:  280px;
}

.card1 img{
    width: 380px;
    height: 160px;
    position: relative;
    left: 20px;
    bottom: 100px;
}
.card1 p{
    position: relative;
    bottom: 250px;
    left: 30px;
}
.visa img{
    position: relative;
    bottom: 260px;
    left: 200px;
    width: 60px;
    height: 17px;
}

.card img{
    position: relative;
    bottom: 280px;
    left: 300px;
    width: 36px;
    height: 30px;
}
.t22{
    position: relative;
    bottom: 260px;
    left: 60px;
}

.ring{
width: 326px;
height: 41px;
position: relative;
bottom: 200px;
left: 40px;
border-radius: 20px;
}
.rigim {
    width: 29px;
    height: 28px;
    position: relative;
    bottom: 235px;
    left: 300px;
}

.qq1q img{
    width: 64px;
    height: 64px;
 position: relative;
 bottom: 200px;
 left: 50px;
}
.ms h1{
 position: relative;
 bottom: 270px;
 left: 140px;
}

.ms p{
 position: relative;
 bottom: 270px;
 left: 140px;
}
.ps2{
    width: 309px;
    height: 44px;
    position: relative;
    bottom: 250px;
    left: 30px;
    border-radius: 20px;
    background-color: goldenrod;
}















}

















































     
     


































